<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zone.test.mapper.UserMapper">
    <!--可重用的SQL代码段 -->
    <sql id="user_column">id,name,pwd,dept as deptId</sql>

    <select id="getUser" resultType="java.util.HashMap">
        select
        <include refid="user_column"/>
        from user
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null and name !=''">
                and name=#{name}
            </if>
        </trim>
    </select>

    <update id="updateUser">
		update user set pwd=#{pwd} where id=#{id}
	</update>

    <select id="getCount" resultType="java.lang.String">
        show tables
    </select>

    <select id="getCount2" resultType="java.lang.String">
        show tables
    </select>
    <select id="getUser2" resultType="com.zone.test.entity.User">
        select
        <include refid="user_column"/>
        from user
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null and name !=''">
                and name=#{name}
            </if>
        </trim>
    </select>
</mapper>  
